{% extends 'base.html' %}
{% block main %}
Your movie is {{data.movie.name}}, rank it 1..5
<form action="/search" class="m-3" method="POST">

  <div class="form-check m-2">
    <input checked class="form-check-input" id="r1" name="rank" type="radio" value="1">
    <label class="form-check-label" for="r1">
      1
    </label>
  </div>
  <div class="form-check m-2">
    <input checked class="form-check-input" id="r2" name="rank" type="radio" value="2">
    <label class="form-check-label" for="r2">
      2
    </label>
  </div>
  <div class="form-check m-2">
    <input checked class="form-check-input" id="r3" id="r3" name="rank" type="radio" value="3">
    <label class="form-check-label" for="r3">
      3
    </label>
  </div>
  <div class="form-check m-2">
    <input checked class="form-check-input" id="r4" name="rank" type="radio" value="4">
    <label class="form-check-label" for="r4">
      4
    </label>
  </div>
  <div class="form-check m-2">
    <input checked class="form-check-input" id="r5" name="rank" type="radio" value="5">
    <label class="form-check-label" for="r5">
      5
    </label>
  </div>
  <div class="my-3">
    <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit">Like</button>
  </div>
  <input name="movie_id" type="hidden" value="{{data.movie.id}}">
</form>
{% endblock %}